@font-face {
  font-family: "Star Jedi";
  src: url("../fonts/Starjedi.ttf");
}

.title-background {
	width: 100%;
	/*background-image: url("../img/banner.jpg");
	background-repeat: no-repeat;
	background-size: cover;*/
	background-color: black;
	display: flex; 
	justify-content: center;
	align-items: center;
	min-height: 320px;
}

h1 {
	font-family: "Star Jedi", serif;
	text-align: center;
	font-size: 4em;
	color: #FDD325;
	font-weight: bold;
	letter-spacing: 0.1em;
}

h2 {
	text-align: center;
	font-size: 3em;
	font-weight: bold;
}

#theory {
	text-align: center;
	margin-top: 50px;
	font-size: x-large;
	padding-left: 20px;
	padding-right: 20px;
}

.refresh-button {
	text-align: center;
	margin-top: 60px;
}